extends ../shared/template/layout/_default

block vars
  -
    var title = '上書き'

block main
  .camera-wrap
    .camera-inner
      label
        p iPhoneで縦向きに撮った写真を選択してください。
        input#js-file(type="file",name="file")
    