extends ../shared/template/layout/_default

block vars
  -
    var title = '上書き'

block main
  .test
    .js-scoll-text.scroll-text.scroll-text_one TEST&nbsp;ONE
    .js-scoll-text.scroll-text.scroll-text_two TEST&nbsp;TWO
    .js-scoll-text.scroll-text.scroll-text_three TEST&nbsp;THREE
    .js-scoll-text.scroll-text.scroll-text_fore TEST&nbsp;FORE
