extends ../shared/template/layout/_default

block vars
  -
    var title = '上書き'

block main
  .camera-wrap
    .camera-inner
      p iPhoneで縦向きに撮った写真を選択してください。
      button#js-button-coppy.test-button
        | コピーするよー
      input#js-file.test-input(type='file', name='file')
      canvas#js-canvas.test-canvas
      canvas#js-canvas-copy.test-canvas
