extends ../shared/template/layout/_default

block vars
  -
    var title = '上書き'

block main
  .camera-wrap
    .camera-inner
      p iPhoneで縦向きに撮った写真を選択してください。
      button#js-button-coppy.test-button
        | コピーするよー
      button#js-refresh.test-button
        | 全部削除
      input#js-file.test-input(type='file', name='file')
      #js-wrapper.warpper
        canvas#js-canvas.test-canvas.main
      canvas#js-copy.test-canvas
