@import '../shared/styles/import';
@import '../shared/icons/css/icons';

$test: #fff;

.warpper {
  width: 90%;
  max-width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: #ccc;
}

.test-canvas {
  display: block;

  &.main {
    width: 100%;
  }
}

.test-input {
  display: block;
}

.test-button {
  margin-bottom: 100px;
}
