@import '../shared/styles/import';
@import '../shared/icons/css/icons';

$test: #fff;

.test-canvas {
  display: block;

  &.main {
    width: 400px;
  }
}

.test-input {
  display: block;
}

.test-button {
  margin-bottom: 100px;
}
